*{
    box-sizing: border-box;

}
body{ font-family: ROboto, serif, 'Times New ROman';
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    column-gap: 25px;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    padding:0 400px;
}

ul{list-style-type: none;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}
li{
    display: flex;
    flex: 1;
}



a{
    text-decoration: none;
    color: #e5e7eb;
}

.hero{
    background-color: #1f2937;
    padding: 90px;
    column-gap: 25px;

}

.logo{
    color: #f9faf8;
    font-size: 24px;
}

h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;

}
p{
    font-size: 18px;
    color: #e5e7eb;
}



.highlight-title{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote{
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

 .cto{
    background-color: #3882f6;
 }

 button{
    background-color: #3882f6;
    color: #e5e7eb;
 }

 .ctob{
    border: 2px solid #f9faf8;
 }

 .footer{
    background-color: #1f2937;
 }

 .highlight{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
 }

 .images{
    flex: 1;
    flex-wrap: wrap;
 }

 .hero{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 16px;
}
 .hero-image{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .hero-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    margin: 0;
    padding: 0;
 }

 .footer{
    display: flex;
    flex-direction: column;
 }