*, *::before *::after{
    box-sizing: border-box;
}
body{ font-family: ROboto, serif, 'Times New ROman';
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0;
}
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

ul{list-style-type: none;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

li{
    margin-bottom: 16px;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}

.hero{
    background-color: #1f2937;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
}

.hero-text>h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;

}
.hero-text>p{
    font-size: 18px;
    color: #e5e7eb;
}



.highlight-title{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote{
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
 .cto{
    background-color: #3882f6;

 }

 button{
    background-color: #3882f6;
    color: #e5e7eb;
 }

 .ctob{
    border: 2px solid #f9faf8;
 }

 .footer{
    background-color: #1f2937;
 }
 .highlight{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
 }
 .images{
    flex: 1;
    flex-wrap: wrap;
 }
 .hero{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 16px;
}
 .hero-image{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .hero-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    margin: 0;
    padding: 0;
 }
 .footer{
    display: flex;
    flex-direction: column;
 }